@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

/* MAIN BODY  */

main{
    margin: 10px auto;
}
.home{
    position: static;
    width: 80%;
    margin: auto;
    
}
.crown{
    animation: float 3s ease-in-out infinite;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Adjust the floating height */
    }
    100% {
        transform: translateY(0);
    }
}
.crown img{
    position: absolute;
    left: 0%;
    top: -55px;
    width: 320px;
}
.cup img{
    position: absolute;
    left: 42%;
    top: 269px;
    height: 267px;
    transform: rotate(276deg);
    
}
.little-star1 img{
    position: absolute;
    left: 70%;
    top: 180px;
    height: 134px;
}
.little-star2 img{
    position: absolute;
    left: 17%;
    top: 543px;
    height: 134px;
    transform: rotate(320deg);
}
.containt p{
    font-size: 50px;
    margin-top: 200px;
    font-family: "Zen Dots", sans-serif;
    color: white;
    line-height: 85px;
}
.containt{
    display: flex;
    justify-content: space-evenly;
}
.section{
    margin: 200px auto;
    height: 700px;
    width: 100%;
    border: 5px solid rgba(255, 255, 255, 0.436);
    border-radius: 100px;
    background-color: rgb(217 217 217 / 0.21);
}
#text-top{
    transform: translate(698px, 206px);
}
