@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

/* MAIN BODY  */

main{
    margin: 5vh 8vw;
    background-color: beige;
}
.crown{
    animation: float 3s ease-in-out infinite;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Adjust the floating height */
    }
    100% {
        transform: translateY(0);
    }
}
.crown img{
    position: absolute;
    left: 6vw;
    top: 8vh;
    width: 320px;
}
.cup img{
    position: absolute;
    left: 42vw;
    top: 42vh;
    height: 267px;
    transform: rotate(276deg);
    
}
.little-star1 img{
    position: absolute;
    left: 70vw;
    top: 20vh;
    height: 134px;
}
.little-star2 img{
    position: absolute;
    left: 17vw;
    top: 82vh;
    height: 134px;
    transform: rotate(320deg);
}
.containt pre{
    font-size: 72px;
    margin-top: 50vh;
    font-family: "Zen Dots", sans-serif;
}