@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url(664f212b3ca3cdd172c0e940_Texture\ 4.webp),url(background-art__2__720.png);
    background-size: cover;
    max-width: 1920px;
}   

/* NAVIGATION BAR */

nav {
    height: 10vh;
    /* margin: 1vh 9vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 8vh;
}
.logo p{
    font-family:  "Carter One", system-ui;
    font-size: xx-large;
    margin-right: 20px;
    color: white;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
nav ul li{
    text-align: center;
    list-style-type:none;
    color: white;
    font-family: Ggsans,sans-serif;
    font-size: 1.1em;
    font-weight: 500;
}
nav ul li:hover{ 
    text-decoration: underline;
    font-size: 1.2em;
}
.login button{
    border: none;
    padding: 10px 18px;
    border-radius: 25px;
    background-color: rgba(240, 255, 255, 0.792);
    color: black;
    font-family:  "Carter One", system-ui;
}

@media screen and (max-width:1024px){
    
}